extends base

block content
    main.main
        .create-tour-form
            h2.heading-secondary.ma-bt-lg Create Tour
            form.form.form--create-tour
                .form__group
                    label.form__label(for='name') Tour Name
                    input#name.form__input(type='text', placeholder='Full Name', required)
                .form__group
                    label.form__label(for='duraion') Duration
                    input#duration.form__input(type='number', required)
                .form__group
                    label.form__label(for='maxGroupSize') Max Group Size
                    input#maxGroupSize.form__input(type='number', required)
                .form__group
                    label.form__label(for='difficulty') Difficult
                    input#difficulty.form__input(type='text', placeholder='Difficult Level', required)
                .form__group
                    label.form__label(for='price') Price
                    input#price.form__input(type='number', required)
                .form__group
                    label.form__label(for='summary') Summary 
                    input#summary.form__input(type='text', placeholder='Summary', ,required)
                .form__group.form__photo-upload
                    input.form__upload(type='file', accept='image/*',id='imageCover')
                    label(for='imageCover') Choose new photo
                div(id='displayImg')
                    
                .form__group
                    button.btn.btn--green Sign Up